@media screen and (min-width: 769px),
print {
    .field-label {
        margin: auto 1.5rem;
        margin-left: 0;
        text-align: center;
        padding-top: 0;
        flex-grow: 2;
    }
}

.label::after {
    content: ':';
}

.card-header-title {
    padding: 1rem;
}

.input {
    border: 0;
    pointer-events: none;

    &.editable {
        border: 1px solid #bfbfbf;
        pointer-events: visible;
    }
}

.select {

    select {
        border: 0;
        pointer-events: none;
    }

    &::after {
        border-color: #fff !important;
    }

    &.editable {
        select {
            border: 1px solid #bfbfbf;
            pointer-events: visible;
        }

        &::after {
            border-color: #828282 !important;
        }
    }
}