.label::after {
    content: ':';
}

.input {
    border: 0;
    pointer-events: none;
    &.editable {
        border: 1px solid #bfbfbf;
        pointer-events: visible;
    }
}

// figure {
//     margin: 0 !important;
//     &.image {
//         img {
//             width: 20%;
//             height: auto;
//         }
//     }
// }
.field.has-addons .control:first-child:not(:only-child) .select select {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.field.has-addons .control:last-child:not(:only-child) .button {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}