<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Customer Info
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.customer_name"
                                        (change)="parcel.customer_name = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Phone</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="getContact(parcel.customer_contact)"
                                        (change)="parcel.customer_contact = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Address</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.customer_address"
                                        (change)="parcel.customer_address = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">City</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.customer_city"
                                        (change)="parcel.customer_city = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Area</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.customer_area"
                                        (change)="parcel.customer_area = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Pickup Address</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.pickup_address"
                                        (change)="parcel.pickup_address = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Additional Info
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Category</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.category" (change)="parcel.category = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal py-3">
                        <div class="field-label">
                            <label class="label">Status</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{parcel.status}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal py-3">
                        <div class="field-label">
                            <label class="label">Order Created</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{parcel.created_at}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Change Status</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded" [ngClass]="{'editable': parcel}">
                                    <div class="select is-fullwidth">
                                        <select (change)="parcel.changed_status = $event.target.value">
                                            <option value="">-- select a status -- </option>
                                            <option value="{{status.value}}" *ngFor="let status of getAllStatus()"
                                                [selected]="status.value == parcel.staus">{{status.title}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control ml-2">
                                    <button class="button is-primary"
                                        (click)="changeParcelStatus({'status': parcel.changed_status})">Change</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal py-3"
                        *ngIf="!(parcel.status === 'PROCESSING' || parcel.status === 'PENDING')">
                        <div class="field-label">
                            <label class="label">Pickup Assigned</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{getPickupmanName(parcel.p_id)}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal"
                        *ngIf="parcel.status === 'PROCESSING' || parcel.status === 'PENDING'">
                        <div class="field-label is-normal">
                            <label class="label">Pickup Assigned</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <div class="select is-fullwidth">
                                        <select (change)="parcel.p_id = +$event.target.value">
                                            <option value="">-- select a pickup man -- </option>
                                            <option value="{{pman.id}}" *ngFor="let pman of pickupmen"
                                                [selected]="pman.id == parcel.p_id">{{pman.location}} | {{pman.area}} |
                                                {{pman.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control ml-2">
                                    <button class="button is-primary"
                                        (click)="assignPDman({'p_id': parcel.p_id})">Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal py-3"
                        *ngIf="!(parcel.status === 'READY' || parcel.status === 'INPROGRESS')">
                        <div class="field-label">
                            <label class="label">Delivery Assigned</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{getDeliverymanName(parcel.d_id)}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal"
                        *ngIf="parcel.status === 'READY' || parcel.status === 'INPROGRESS'">
                        <div class="field-label is-normal">
                            <label class="label">Delivery Assigned</label>
                        </div>
                        <div class="field-body">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <div class="select is-fullwidth">
                                        <select (change)="parcel.d_id = +$event.target.value">
                                            <option value="">-- select a delivery man -- </option>
                                            <option value="{{dman.id}}" *ngFor="let dman of deliverymen"
                                                [selected]="dman.id == parcel.d_id">{{dman.location}} | {{dman.area}} |
                                                {{dman.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control ml-2">
                                    <button class="button is-primary"
                                        (click)="assignPDman({'d_id': parcel.d_id})">Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Product Details
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Weight</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.product_net_weight"
                                        (change)="parcel.product_net_weight = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Payment Amount</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.payment_amount"
                                        (change)="parcel.payment_amount = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Service Charge</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.service_charge"
                                        (change)="parcel.service_charge = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Payment Amount</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.total_amount"
                                        (change)="parcel.total_amount = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Additional Info</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited}" type="text"
                                        [value]="parcel.product_additional_info"
                                        (change)="parcel.product_additional_info = $event.target.value">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Merchant Info
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{parcel.merchant.business_name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Phone</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{getContact(parcel.merchant.contact)}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Address</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{parcel.merchant.business_address}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="buttons is-centered">
    <button class="button is-info" [ngClass]="{'is-warning': edited}"
        (click)="edited = !edited">{{ edited ? 'Cancel Edit' : 'Edit' }}
    </button>
    <button class="button is-success" *ngIf="edited" (click)="edit()">
        Save
    </button>
</div>
