.field-label {
    flex-grow: 1.6;
    text-align: left;
}

.date {
    padding-left: 35px;
}

mat-datepicker-toggle {
    position: absolute;
    left: 0;
}

td {
    border: 1px solid #dbdbdb;
}

.field.is-horizontal {
    align-items: center;
}