<div class="columns">
    <div class="column">
        <div class="card">
            <header class="card-header flex-between px-3 py-3">
                <p class="card-header-title px-0 py-0">
                    Deliveryman Details
                </p>
                <div class="is-text-right">
                    <button class="button is-info" [ngClass]="{'editable': edited, 'is-warning': edited}"
                        (click)="edited = !edited">{{ edited ? 'Cancel Edit' : 'Edit' }}
                    </button>
                    <button class="button is-success ml-2" *ngIf="edited" (click)="save()">
                        Save
                    </button>
                </div>
            </header>
            <div class="card-content">
                <form [formGroup]="deliveryman">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input"
                                        [ngClass]="{'editable': edited, 'is-danger': name.invalid && edited}"
                                        type="text" formControlName="name">
                                </p>
                                <p class="help is-danger" *ngIf="name.invalid && edited">This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">NID number</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input" [ngClass]="{'editable': edited, 'is-danger': nid.invalid}"
                                        type="text" formControlName="nid">
                                </p>
                                <p class="help is-danger" *ngIf="nid.invalid && edited">This field is required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Contact</label>
                        </div>
                        <div class="field-body">
                            <div class="field" [ngClass]="{'is-expanded': edited}">
                                <div class="field" [ngClass]="{'has-addons': edited}">
                                    <p class="control" *ngIf="edited">
                                        <a class="button is-static">
                                            +88
                                        </a>
                                    </p>
                                    <p class="control" [ngClass]="{'is-expanded': edited}">
                                        <input class="input"
                                            [ngClass]="{'editable': edited, 'is-danger': contact.invalid && edited}"
                                            type="tel" formControlName="contact">
                                    </p>
                                </div>
                                <p class="help is-danger" *ngIf="contact.invalid && edited">Invalid phone
                                    number format!</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Area</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input"
                                        [ngClass]="{'editable': edited, 'is-danger': area.invalid && edited}"
                                        formControlName="area">
                                </p>
                                <p class="help is-danger" *ngIf="area.invalid && edited">This field is required!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Location</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input"
                                        [ngClass]="{'editable': edited, 'is-danger': location.invalid && edited}"
                                        formControlName="location">
                                </p>
                                <p class="help is-danger" *ngIf="location.invalid && edited">This field is
                                    required!</p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal pt-3">
                        <div class="field-label is-normal">
                            <label class="label">Status</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <mat-radio-group formControlName="satus">
                                        <mat-radio-button value="1" [checked]="satus.value == 1">Active
                                        </mat-radio-button>
                                        <mat-radio-button value="0" [checked]="satus.value == 0">Inactive
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal" *ngIf="editedPass">
                        <label class="label">New Password</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="flex" [ngClass]="{'control': editedPass, 'flex-end': !editedPass}">
                                    <input class="input" [ngClass]="{'editable': editedPass}" type="text"
                                        (change)="dman.password = $event.target.value" [value]="editedPass ? '': '****'"
                                        *ngIf="editedPass">
                                    <button class="button is-info ml-2" (click)="editedPass = !editedPass"
                                        [ngClass]="{'is-warning': editedPass}">{{editedPass ? "Cancel" : "Reset password"}}</button>
                                    <button class="button is-success ml-2" *ngIf="editedPass"
                                        (click)="resetPassword()">Save</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="columns mt-4">
    <div class="column">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">DP</p>
            </div>
            <div class="card-content">
                <div class="flex-center flex-column">
                    <p *ngIf="!dman.dp">No image available!</p>
                    <figure class="image" *ngIf="dman.dp">
                        <img [src]="dman.dp">
                    </figure>
                </div>
            </div>
            <footer class="card-footer is-relative">
                <input class="file-input" type="file" name="dp" (change)="onDpChange($event.target.files)"
                    accept="image/*">
                <a class="card-footer-item">Change</a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">NID (front side)</p>
            </div>
            <div class="card-content">
                <div class="flex-center flex-column">
                    <p *ngIf="!dman.nid_front">No image available!</p>
                    <figure class="image" *ngIf="dman.nid_front">
                        <img [src]="dman.nid_front">
                    </figure>
                </div>
            </div>
            <footer class="card-footer is-relative">
                <input class="file-input" type="file" name="nidfront" (change)="onNidFrontChange($event.target.files)"
                    accept="image/*">
                <a class="card-footer-item">Change</a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">NID (back side)</p>
            </div>
            <div class="card-content">
                <div class="flex-center flex-column">
                    <p *ngIf="!dman.nid_back">No image available!</p>
                    <figure class="image" *ngIf="dman.nid_back">
                        <img [src]="dman.nid_back">
                    </figure>
                </div>
            </div>
            <footer class="card-footer is-relative">
                <input class="file-input" type="file" name="nidback" (change)="onNidBackChange($event.target.files)"
                    accept="image/*">
                <a class="card-footer-item">Change</a>
            </footer>
        </div>
    </div>
</div>