<div class="card">
    <div class="card-content">
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Merchant Name</th>
                        <th>Business Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!processeds.length">
                        <td colspan="4" [ngStyle]="{'height': !processeds.length ? '50vh': 'auto'}">No parcel is
                            processed!</td>
                    </tr>
                    <tr *ngFor="let processed of processeds">
                        <td>{{processed.id}}</td>
                        <td>{{processed.merchant.name}}</td>
                        <td>{{processed.merchant.business_name}}</td>
                        <td>
                            <button class="button is-success is-small"
                                [routerLink]="['/parcel', 'details', processed.id]">
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>