<div class="card">
    <div class="card-content">
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Merchant Name</th>
                        <th>Business Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!cancelleds.length">
                        <td colspan="4" [ngStyle]="{'height': !cancelleds.length ? '50vh': 'auto'}">No parcel is
                            cancelled!</td>
                    </tr>
                    <tr *ngFor="let cancelled of cancelleds">
                        <td></td>
                        <td>{{cancelled.id}}</td>
                        <td>{{cancelled.merchant.name}}</td>
                        <td>{{cancelled.merchant.business_name}}</td>
                        <td>
                            <button class="button is-success is-small"
                                [routerLink]="['/parcel', 'details', cancelled.id]">
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>