<div [ngClass]="{'card': promos.data.length}">
    <div class="card-content" [ngClass]="!promos.data.length ? 'flex-center': 'card-content'"
        [ngStyle]="{'height': !promos.data.length ? '50vh': 'auto'}">
        <p *ngIf="!promos.data.length">No promo is available!</p>
        <div class="table-container" *ngIf="promos.data.length">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Coupon ID</th>
                        <th>Code</th>
                        <th>Product Category</th>
                        <th>Product</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Discount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let promo of promos.data">
                        <td>{{promo.code_id}}</td>
                        <td><b>{{promo.code}}</b></td>
                        <td>{{promo.sku_cat_id|categoryname: categories}}</td>
                        <td>{{promo.sku_id|itemname: items}}</td>
                        <td>{{promo.start}}</td>
                        <td>{{promo.end}}</td>
                        <td>{{promo.discount_percent}}%</td>
                        <td>
                            <button class="button is-success is-small" title="Edit" [routerLink]="['/promo', 'edit']"
                                [queryParams]="{promo_id: promo.code_id}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav class="pagination is-rounded is-centered mt-5" *ngIf="promos.prev_page_url || promos.next_page_url">
    <ul class="pagination-list">
        <li><button class="pagination-link" title="First Page" [disabled]="!promos.prev_page_url"><i
                    class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></button></li>
        <li><button class="pagination-link" title="Previous Page" [disabled]="!promos.prev_page_url"><i
                    class="fas fa-chevron-left"></i></button></li>
        <li><button class="pagination-link" title="Next Page" [disabled]="!promos.next_page_url"><i
                    class="fas fa-chevron-right"></i></button></li>
        <li><button class="pagination-link" title="Last Page" [disabled]="!promos.next_page_url"><i
                    class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button></li>
    </ul>
</nav>