<div class="card">
    <div class="card-content">
        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <label class="label">Code Name</label>
                    <div class="control">
                        <input class="input" type="text" (change)="promo['code'] = $event.target.value"
                            [value]="promo['code']">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Discount Percentage</label>
                    <div class="control">
                        <input class="input" type="number" min="0" max="100"
                            (change)="promo['discount_percent'] = +$event.target.value"
                            [value]="promo['discount_percent']">
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <label class="label">Starting Date</label>
                    <div class="control">
                        <input class="input date" [matDatepicker]="promoStartDate"
                            (dateInput)="onDateChange('start', $event.value)"
                            (dateChange)="onDateChange('start', $event.value)" [value]="promo.start">
                        <mat-datepicker-toggle [for]="promoStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #promoStartDate></mat-datepicker>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Ending Date</label>
                    <div class="control">
                        <input class="input date" [matDatepicker]="promoEndDate"
                            (dateInput)="onDateChange('end', $event.value)"
                            (dateChange)="onDateChange('end', $event.value)" [value]="promo.end">
                        <mat-datepicker-toggle [for]="promoEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #promoEndDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <label class="label">Product Category</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select (change)="onCategoryChange($event.target.value)">
                                <option value="">-- select category --</option>
                                <option *ngFor="let category of categories" [value]="category.cat_id"
                                    [selected]="category.cat_id == promo.sku_cat_id">
                                    {{category.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Product</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select (change)="promo['sku_id'] = +$event.target.value">
                                <option value="">-- select product --</option>
                                <option *ngFor="let item of modItems" [value]="item.sku_id"
                                    [selected]="item.sku_id == promo['sku_id']">
                                    {{item.title_bn}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column">
                <div class="field">
                    <label class="label">Customer Group</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select (change)="promo['c_group'] = $event.target.value">
                                <option value="">-- select group --</option>
                                <option value="0" selected>All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Affiliate</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select (change)="promo['aff_id'] = +$event.target.value">
                                <option value="">-- select affiliate --</option>
                                <option value="0" selected>All</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile">
            <div class="column">
                <table class="table is-bordered is-fullwidth">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">
                                <div class="field is-horizontal">
                                    <div class="field-label">
                                        <label class="label">Status:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <label class="radio">
                                                    <input type="radio" name="status" [checked]="promo['status']"
                                                        (change)="promo['status'] = true">
                                                    Live
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="status" [checked]="!promo['status']"
                                                        (change)="promo['status'] = false">
                                                    Draft
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field is-horizontal">
                                    <div class="field-label">
                                        <label class="label">Using Frequency:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <label class="radio">
                                                    <input type="radio" name="one_time" [checked]="promo['one_time']"
                                                        (change)="promo['one_time'] = true">
                                                    Once
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="one_time" [checked]="!promo['one_time']"
                                                        (change)="promo['one_time'] = false">
                                                    Multiple
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="is-fullwidth has-text-centered mt-4">
    <button class="button is-success" (click)="save()">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>Save</span>
    </button>
</div>