<div class="card">
    <div class="card-content">
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Merchant Name</th>
                        <th>Business Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!pendings.length">
                        <td colspan="4" [ngStyle]="{'height': !pendings.length ? '50vh': 'auto'}">No parcel is
                            pending!</td>
                    </tr>
                    <tr *ngFor="let pending of pendings">
                        <td>{{pending.id}}</td>
                        <td>{{pending.merchant.name}}</td>
                        <td>{{pending.merchant.business_name}}</td>
                        <td>
                            <button class="button is-success is-small"
                                [routerLink]="['/parcel', 'details', pending.id]">
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>