<div class="field">
    <div class="file is-right" [ngClass]="{'is-fullwidth': class?.full_width}">
        <label class="file-label">
            <input class="file-input" type="file" [accept]="config.accept" (change)="processFileForS3($event)">
            <span class="file-cta">
                <span class="file-icon">
                    <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                    choose a file
                </span>
            </span>
            <input class="file-name" [value]="info.url||''" type="text" placeholder="paste file url..."
                (change)="forwardFileInfo($event.target.value)">
        </label>
    </div>
</div>