<div class="card">
    <div class="card-content">
        <div class="field has-addons has-addons-right">
            <p class="control">
                <span class="select">
                <select [(ngModel)]="search_type">
                  <option value="by_id">By Merchant Id</option>
                  <option value="by_m_name">By Marchent Name</option>
                  <option value="by_b_name">By Marchent Business Name</option>
                  <option value="by_contact">By Marchent Contact</option>
                </select>
              </span>
            </p>
            <p class="control">
                <input [(ngModel)]="search_value" class="input" type="text" placeholder="ABC123">
            </p>
            <p class="control">
                <a class="button is-primary" (click)="search()">
                Search
              </a>
            </p>
        </div>
    </div>

</div>

<br>
<div class="card">
    <div class="card-content">
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Merchant Name</th>
                        <th>Merchant Contact</th>
                        <th>Business Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!merchants.data.length">
                        <td colspan="4" style="height: 30vh;">No parcel is pending!
                        </td>
                    </tr>
                    <tr *ngFor="let merchant of merchants.data">
                        <td>{{merchant.id}}</td>
                        <td>{{merchant.name}}</td>
                        <td>{{merchant.contact}}</td>
                        <td>{{merchant.business_name}}</td>
                        <td>
                            <button class="button is-success is-small" [routerLink]="['/cms', 'merchants', merchant.id]">
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer" *ngIf="merchants?.prev_page_url || merchants?.next_page_url">
        <div class="card-footer-item">
            <nav class="pagination is-rounded is-centered">
                <ul class="pagination-list">
                    <li><button class="pagination-link" title="First Page" [disabled]="!merchants.prev_page_url" (click)="getPaginatedData({page: 1})"><i class="fas fa-chevron-left"></i><i
                                class="fas fa-chevron-left"></i></button></li>
                    <li><button class="pagination-link" title="Previous Page" [disabled]="!merchants.prev_page_url" (click)="getPaginatedData({page: merchants.current_page - 1})"><i
                                class="fas fa-chevron-left"></i></button>
                    </li>
                    <li class="mx-2">
                        <small class="small">{{merchants.current_page}} of
                            {{merchants.last_page}}</small>
                    </li>
                    <li><button class="pagination-link" title="Next Page" [disabled]="!merchants.next_page_url" (click)="getPaginatedData({page: merchants.current_page + 1})"><i
                                class="fas fa-chevron-right"></i></button>
                    </li>
                    <li><button class="pagination-link" title="Last Page" [disabled]="!merchants.next_page_url" (click)="getPaginatedData({page: merchants.last_page})"><i
                                class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></button></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>