.landing-page-builder

    // .landing-page-builder-body
    //     margin-bottom: 1rem
    //     +flex
    //     +align-center
    //     +flex-column
    //     +justify-center

    .landing-page-builder-footer
        position: fixed
        bottom: 0
        right: 0
        left: 0
        background: #fff
        box-shadow: 0px -1px 5px rgba(0,0,0,.1)
        padding: 0.5rem
        +flex
        +justify-between
        +align-center
        +desktop
            left: $sidebar-width



