.signin
    background-color: #F4F7FC
    .signin-svg
        position: absolute
        transform: scale(0.4)
        right: -30%
        bottom: -60%
        +mobile 
            display: none
    form
        box-shadow: 0 0 3px 3px #F4F7FC, 6px 6px 8px 4px rgba(136, 136, 136, 0.7), -6px -6px 8px 4px rgba(244, 244, 244, 0.7)
        padding: 4rem
        margin-left: 10rem
        z-index: 1
        background: #e3e3e36e
        border-radius: 10px
    .hero-body
        +touch
            justify-content: center
            form    
                margin-left: 0
        

    
